* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1e9b91, #1db090);
}

header {
  text-align: center;
  background-color: rgba(34, 37, 45, 0.8);  /* match with your app background */
  padding: 20px;
  border-radius: 1.5rem;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5em;
  color: #1aba8a;  /* match with your display color */
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.2em;
  color: rgb(23, 173, 155);  /* match with your key color */
  font-family: 'Roboto', sans-serif;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.app {
  width: 90%;
  max-width: 500px;
  background-color: rgba(34, 37, 45, 0.9);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  color: #1aba8a;
  font-size: 2.5em;
  line-height: 1.2;
  overflow: auto;
  transition: font-size 0.2s ease-in-out;  
  word-wrap: break-word; 
}

.keys {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);  
  gap: 0.5em;  
  padding: 1em;  
}

.keys .key {
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 60px; 
  border-radius: 8px; 
  cursor: pointer;
  color: rgb(23, 173, 155);  
  font-size: 1.5em; 
  background: rgba(0, 0, 0, 0.4); 
  transition: background 0.3s; 
  padding: 0.4rem 1rem;  
}

.keys .key:not(.voice):hover {
  background: rgba(0, 0, 0, 0.6); 
  transform: scale(1.05);  
  transition: background 0.2s, transform 0.2s; 
}

.keys .key:active {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

.keys .key.operator {
  color: #389696
}

.keys .key.action {
  color: #379f9f
}

.key.voice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 8px;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.3s;
  cursor: pointer;
  position: relative;
}

.key.voice i {
  font-family: 'Material Icons';
  font-size: 28px;
}

.key.voice:active {
  background: rgba(0, 0, 0, 0.6);
}

.mic-on {
  color: rgb(215, 5, 5);
}

.mic-off {
  color: rgb(21, 160, 116);
}


.tooltip {
  display: none;
  position: absolute;
  background: #333;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px; 
  line-height: 1.4em;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.tooltip ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.voice:hover .tooltip {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
