* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1f2124;
    color: #fff;
    font-size: 14px;
}

header {
    background-color: #1f2124;
    padding: 5px
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    padding: 10px 20px;
}

.nav-left {
    flex: 1;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    margin-right: 12px;
    color: #bdc1c6;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 14px;
}


.nav-link:hover {
    color: #8f94a0;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(90vh - 30px);
    padding-bottom: 20px;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 200px;
    height: auto;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
}

.search-input-container {
    position: relative;
}

.search-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
}

.search-icon,
.images-icon {
    font-size: 12px;
    color: #bdc1c6;
    margin-right: 350px;
}

.search-input {
    padding: 8px 10px;
    padding-left: 40px;
    width: 400px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: background-color 0.3s ease;
    font-size: 12px;
}

.search-input:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.search-input:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.search-buttons {
    display: flex;
    margin-top: 6px;
    padding: 10px;
}

.search-btn {
    padding: 8px;
    font-size: 10px;
    background-color: #343a40;
    border: 1px solid #343a40;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s ease;
}

.search-btn:hover {
    background-color: #8f94a0;
}

footer {
    background-color: #1a1d20;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-section {
    margin-right: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.footer-link {
    margin-right: 15px;
    color: #bdc1c6;
    text-decoration: none;
    flex-wrap: nowrap;
    transition: color 0.3s ease;
    font-size: 12px;
}

.footer-link:hover {
    color: #8f94a0;
    text-decoration: underline;
}

.carbon-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}


.carbon-text {
    color: #bdc1c6;
    font-size: 12px;
}

.carbon-link {
    margin-right: 125px;
    color: #bdc1c6;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 12px;
}

.carbon-link:hover {
    color: #8f94a0;
    text-decoration: underline;
}

.profile-image {
    width:25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 6px;
    padding: 1px;
}